@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --clr-accent: #b455ff;
    --clr-dark: #111111;
    --clr-light: #ffffff;
    --clr-lightgrey: #cecece;
    --clr-darkgrey: #848383;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--clr-dark);
    display: flex;
    justify-content: center;
    height: 100vh;
}

main {
    min-height: calc(100vh - 80px);
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 90%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title span {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-darkgrey);
}

.title h1 {
    display: flex;
    flex-direction: column;
}

.title h1 span {
    color: var(--clr-light);
    font-size: 2.5rem;
    font-weight: 700;
}

.title h1 span:nth-child(2) {
    color: var(--clr-accent);
}

.about p {
    color: var(--clr-lightgrey);
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 430px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.socials a {
    display: flex;
    gap: 20px;
    color: var(--clr-light);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.socials a img {
    width: 40px;
}

@media (min-width: 600px) {

    main {
        min-height: calc(100vh - 80px);
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }

    .title span {
        font-size: 2rem;
        font-weight: 500;
        color: var(--clr-darkgrey);
    }

    .title h1 span {
        color: var(--clr-light);
        font-size: 3.5rem;
        font-weight: 700;
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }

}

@media (max-width: 400px) {

    .about p {
        color: var(--clr-lightgrey);
        font-weight: 500;
        font-size: 1.2rem;
        max-width: 430px;
    }

}